.cursor{
    cursor: pointer;
    color: white;
}

.text-decorator-none{
    text-decoration: none;
}

.back{
    background: linear-gradient(36deg, #db7093 8%, #ffe4e1 80%)!important;

}

.bar{
    display: flex;
    /* justify-content: center;  */
}

