.titulo{
    color: rgb(211, 66, 151);
    text-align: center;
}

.img{
    width: 500px;
    height: 500;
    display: block;
    margin: 0 auto;
}

.text-decorator-none{
    text-decoration: none;
}

.inicio2{
    color: #f0447d !important;
    font-weight: bolder;
}

.cores{
    background-color:#fdf2e4;
}

